recommender_app/LyricsDF_with_BoW_tdif_sparse
recommender_app/CosDis_tfidf_reduced
recommender_app_gcloud/LyricsDF_with_BoW_tdif_sparse
recommender_app_gcloud/CosDis_tfidf_reduced
recommender_app_gcloud_NEW/CosDis_tfidf_reduced
recommender_app_gcloud_NEW/ElenasRelevantSongs
recommender_app_gcloud_NEW/LyricsDF_with_BoW_tdif_sparse
LyricsDF_with_BoW_tdif_sparse
CosDis_tfidf_reduced
Billboard100DF
Billboard100DF_cleaned
CleanedLyricsDF_MaxRank_100
CosDis_Raw_500_Reduced
CosDis_TFIDF_500_Reduced
CosDis_WordCount_reduced
LyricsDF_All_BoW
LyricsDF_with_BoW_sparse 
LyricsDF_with_BoW_tdif_sparse
Lyrics_1950-01-01-2015-01-01MaxRank20
Lyrics_1958-01-01-2017-01-01MaxRank100
Lyrics_DF_with_binary_sentiment
MXM_Top_20_Monthly_AllTime
With_ID_Echonest_Data.csv
