<!doctype html>
<title>Welcome</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style.css')}}'>
<div class=page>
  <h1>Welcome to our music recommender!</h1>
  <div class=metanav>
    <br>
    <br>
    <h2>
    We will ask you a little about your favorite music, and then suggest some cool new music you might enjoy.
    </h2>

    <form id='userinfoform' method='post' action='index' >

     <p>
     <input type='submit' value='Ok!' />
     </p>
      
    </form>

  </div>
</div>
</html>